@model WebAppInsurance.Models.Insured

@{
    ViewData["Title"] = "Smazat";
}

<div class="container">
    <div class="text-center">
        <h1>Smazat</h1>
        <h3>Jste si jistí, že si přejete vymazat záznam?</h3>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="new-container-main">
                <h4>Pojištěnec</h4>
                <hr />
                <dl class="row">
                    <dt class="col-sm-4">
                        @Html.DisplayName("Jméno:")
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.FirstName)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayName("Příjmení:")
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.LastName)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayName("Email:")
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Email)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayName("Telefon:")
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Phone)
                    </dd>
                </dl>
            </div>
        </div>

        <div class="col-md-6">
            <div class="new-container-main">
                <h4>Adresa</h4>
                <hr />
                <dl class="row">
                    <dt class="col-sm-4">
                        @Html.DisplayName("Ulice:")
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Street)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayName("Číslo popisné:")
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.HouseNumber)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayName("Město:")
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.City)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayName("PSČ:")
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.ZIPCode)
                    </dd>
                </dl>
            </div>
        </div>
    </div>

    <div class="text-center">
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Smazat" class="btn btn-danger" /> |
            <a class="btn btn-secondary" asp-action="Index">Zpět na seznam</a>
        </form>
    </div>
</div>