@model WebAppInsurance.Models.Insurance

@{
    ViewData["Title"] = "Smazat pojistku";
}

<div class="container">
    <h1>Smazat</h1>

    <h3>Jste si jistí, že si přejete vymazat záznam?</h3>
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayName("Název pojištění")
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.InsuranceName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayName("Předmět pojištění")
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.InsuranceSubject)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayName("Částka")
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Amount)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayName("Datum počátku")
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.StartDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayName("Datum konce")
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.EndDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayName("Pojištěnec")
            </dt>
            <dd class="col-sm-10">
                <a class="custom-button-record" asp-controller="Insureds" asp-action="Details" asp-route-id="@Model.Insured.Id">
                    @Model.Insured.FullName
                </a>
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Smazat" class="btn btn-danger custom-button-delete-second" />
            <a class="btn btn-secondary custom-button-back" asp-action="Index">Zpět na seznam</a>
        </form>
        
    </div>
</div>
