@model IEnumerable<WebAppInsurance.Models.Insurance>

@{
    ViewData["Title"] = "Seznam Pojištění";
}

<h1>Pojištění</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="table-responsive table-full-width custom-table">
                <table class="custom-table">
                    <thead>
                        <tr>
                            <th>Název pojištění</th>
                            <th>Předmět pojištění</th>
                            <th>Částka</th>
                            <th>Datum zahájení</th>
                            <th>Datum ukončení</th>
                            <th>Pojištěný</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.InsuranceName)</td>
                                <td>@Html.DisplayFor(modelItem => item.InsuranceSubject)</td>
                                <td>@Html.DisplayFor(modelItem => item.Amount) Kč</td>
                                <td>@Html.DisplayFor(modelItem => item.StartDate)</td>
                                <td>@Html.DisplayFor(modelItem => item.EndDate)</td>
                                <td>@Html.DisplayFor(modelItem => item.EndDate)</td>

                                <td>
                                    <a class="custom-button-record" asp-action="Details" asp-route-id="@item.Id">
                                        @Html.DisplayFor(modelItem => item.Insured.FullName
                                        )
                                    </a>
                                </td>
                                <td>
                                    <div class="d-flex">
                                        <div class="mr-1">
                                            <a class="custom-button-edit-small btn-info btn-sm " asp-action="Edit" asp-route-id="@item.Id">Editovat</a>
                                        </div>
                                        <div class="mr-1">
                                            <a class="custom-button-details-small btn-warning btn-sm " asp-action="Details" asp-route-id="@item.Id">Detaily</a>
                                        </div>
                                        <div>
                                            <a class="custom-button-delete-small btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id">Smazat</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="pagination-container">
    <button id="previousButton" class="pagination-button btn btn-primary">Předchozí</button>
    <span id="currentPage" class="pagination-current">1</span>
    <button id="nextButton" class="pagination-button btn btn-primary">Další</button>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="new-container d-flex align-items-center justify-content-center">
                <div class="form-group text-center mt-1">
                    <a asp-action="Create" class="btn btn-primary btn-block">Vytvořit</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/Pagination.js"></script>
